@charset "UTF-8";

:root{

}
*{

}
body{
    background-image: url('https://github.com/gustavoguanabara/html-css/blob/master/imagens/mascote.png?raw=true');
    background-size: 150px 150px;
    background-repeat: repeat-x;
}